In [3]:
# idea : devlop a simple model can be the overall prediction benchmark 

# ref 
# https://github.com/yennanliu/movie_recommendation/blob/master/ref/Analysis_Algorithms_Movie%20Recommendation_Systems.pdf

In [13]:
"""

We denote the baseline prediction for user u and item i by bui.


The simplest baseline is to predict the average rating over all ratings in the system: bu;i = 
(where  is the overall average rating). This can be enhanced somewhat by predicting the
average rating by that user or for that item: bu;i = ru or bu;i = ru . Baselines can be further
enhanced by combining the user mean with the average deviation from user mean rating for a
particular item. Generally, a baseline predictor of the following form can be used:


"""

'\n\nWe denote the baseline prediction for user u and item i by bui.\n\n\nThe simplest baseline is to predict the average rating over all ratings in the system: bu;i = \x16\n(where \x16 is the overall average rating). This can be enhanced somewhat by predicting the\naverage rating by that user or for that item: bu;i = ru or bu;i = ru . Baselines can be further\nenhanced by combining the user mean with the average deviation from user mean rating for a\nparticular item. Generally, a baseline predictor of the following form can be used:\n\n\n'

In [6]:
# import library 


import pandas as pd 
from sklearn.cross_validation import train_test_split
import numpy as np
import time

In [168]:
def get_data():
    route='datasets/ml-latest-small/'
    #df_movie = pd.read_csv(route +'movies.csv')
    df_ratings = pd.read_csv(route +'ratings.csv')
    return df_ratings

def data_preprocess(df):
    df['view_count']=df.groupby(['userId','movieId']).count().reset_index()['rating']
    movie_grouped = df.groupby(['movieId']).agg({'view_count': 'count'}).reset_index()
    grouped_sum = movie_grouped['view_count'].sum()
    movie_grouped['percentage']  = movie_grouped['view_count'].div(grouped_sum)*100
    movie_grouped.sort_values(['view_count', 'movieId'], ascending = [0,1])
    return movie_grouped


def get_train_test_data(df):
	train_data, test_data = train_test_split(df, test_size = 0.20, random_state=0)
	return train_data, test_data


def get_rating_deviation(df):
    df_ = df.copy()
    userlist = list(set(df.userId))
    rating_divation = []
    for user in userlist:
        df_user = df[df.userId == user]
        #avg_user_rating = df_user.rating.mean()
        std_user_rating = df_user.rating.std()
        rating_divation.append(std_user_rating)
    df_std_rating = pd.DataFrame({'userId':userlist, 'std_rating': rating_divation })
    print (df_std_rating.head(10))
    #return df_std_rating
    # merge back 
    df_ = pd.merge(df_, df_std_rating, on='userId')
    return df_
    
        


def get_benchmark_feature(df):
	# total view 
	view_count_total = df.groupby(['movieId']).count().reset_index()[['movieId','rating']]
	view_count_total.columns = ['movieId','total_view']
	# avg rating 
	df_avg_rating = df.groupby(['movieId']).mean().reset_index()[['movieId','rating']]
	df_avg_rating.columns = ['movieId','avg_rating']
	# add average rating deviation
    
	# merge 
	df_ratings_viewcount = pd.merge(df_ratings, view_count_total, on='movieId')
	df_ratings_viewcount = pd.merge(df_ratings_viewcount, df_avg_rating, on='movieId')
	return df_ratings_viewcount
 
# -------------------------------------
# model 


def recommend(df_feature):
	# get movie with top view counts and avg_rating 
	recommend_list = df_ratings_viewcount.groupby('movieId')\
                                     .mean()[['total_view','avg_rating']]\
                                     .sort_values(['total_view','avg_rating'],ascending=False)\
                                     .reset_index()
	# return top 20 movie as recommendation 
	recommend_list_ = recommend_list.head(20) 
	print ('recommend list  : ')
	print (recommend_list_)
	return recommend_list_


def recommend_by_user(df_feature):
	pass

In [169]:
df_std_rating = get_rating_deviation(df_ratings)

   std_rating  userId
0    0.887041       1
1    0.901753       2
2    0.741752       3
3    0.947616       4
4    0.565775       5
5    1.241195       6
6    0.934017       7
7    0.794978       8
8    0.883062       9
9    0.915777      10

In [172]:
#df_std_rating

In [166]:
#df_std_rating

pd.merge(df_ratings, df_std_rating, on='userId')

        userId  movieId  rating   timestamp  std_rating
0            1       31     2.5  1260759144    0.887041
1            1     1029     3.0  1260759179    0.887041
2            1     1061     3.0  1260759182    0.887041
3            1     1129     2.0  1260759185    0.887041
4            1     1172     4.0  1260759205    0.887041
5            1     1263     2.0  1260759151    0.887041
6            1     1287     2.0  1260759187    0.887041
7            1     1293     2.0  1260759148    0.887041
8            1     1339     3.5  1260759125    0.887041
9            1     1343     2.0  1260759131    0.887041
10           1     1371     2.5  1260759135    0.887041
11           1     1405     1.0  1260759203    0.887041
12           1     1953     4.0  1260759191    0.887041
13           1     2105     4.0  1260759139    0.887041
14           1     2150     3.0  1260759194    0.887041
15           1     2193     2.0  1260759198    0.887041
16           1     2294     2.0  1260759108    0.887041
17           1     2455     2.5  1260759113    0.887041
18           1     2968     1.0  1260759200    0.887041
19           1     3671     3.0  1260759117    0.887041
20           2       10     4.0   835355493    0.901753
21           2       17     5.0   835355681    0.901753
22           2       39     5.0   835355604    0.901753
23           2       47     4.0   835355552    0.901753
24           2       50     4.0   835355586    0.901753
25           2       52     3.0   835356031    0.901753
26           2       62     3.0   835355749    0.901753
27           2      110     4.0   835355532    0.901753
28           2      144     3.0   835356016    0.901753
29           2      150     5.0   835355395    0.901753
...        ...      ...     ...         ...         ...
99974      671     4034     4.5  1064245493    0.763563
99975      671     4306     5.0  1064245548    0.763563
99976      671     4308     3.5  1065111985    0.763563
99977      671     4880     4.0  1065111973    0.763563
99978      671     4886     5.0  1064245488    0.763563
99979      671     4896     5.0  1065111996    0.763563
99980      671     4963     4.5  1065111855    0.763563
99981      671     4973     4.5  1064245471    0.763563
99982      671     4993     5.0  1064245483    0.763563
99983      671     4995     4.0  1064891537    0.763563
99984      671     5010     2.0  1066793004    0.763563
99985      671     5218     2.0  1065111990    0.763563
99986      671     5299     3.0  1065112004    0.763563
99987      671     5349     4.0  1065111863    0.763563
99988      671     5377     4.0  1064245557    0.763563
99989      671     5445     4.5  1064891627    0.763563
99990      671     5464     3.0  1064891549    0.763563
99991      671     5669     4.0  1063502711    0.763563
99992      671     5816     4.0  1065111963    0.763563
99993      671     5902     3.5  1064245507    0.763563
99994      671     5952     5.0  1063502716    0.763563
99995      671     5989     4.0  1064890625    0.763563
99996      671     5991     4.5  1064245387    0.763563
99997      671     5995     4.0  1066793014    0.763563
99998      671     6212     2.5  1065149436    0.763563
99999      671     6268     2.5  1065579370    0.763563
100000     671     6269     4.0  1065149201    0.763563
100001     671     6365     4.0  1070940363    0.763563
100002     671     6385     2.5  1070979663    0.763563
100003     671     6565     3.5  1074784724    0.763563

[100004 rows x 5 columns]

In [159]:
df_ratings.head(3)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182

In [171]:
#df_std_rating

In [146]:
df_ratings[df_ratings.userId==27].std()

userId          0.000000
movieId       952.966259
rating          1.029217
timestamp    1797.440162
dtype: float64

In [135]:

df_ratings = get_data()
df_ratings_viewcount = get_benchmark_feature(df_ratings)
print (df_ratings_viewcount)
recommend_movie = recommend(df_ratings_viewcount)

        userId  movieId  rating   timestamp  total_view  avg_rating
0            1       31     2.5  1260759144          42    3.178571
1            7       31     3.0   851868750          42    3.178571
2           31       31     4.0  1273541953          42    3.178571
3           32       31     4.0   834828440          42    3.178571
4           36       31     3.0   847057202          42    3.178571
5           39       31     3.0   832525157          42    3.178571
6           73       31     3.5  1255591860          42    3.178571
7           88       31     3.0  1239755559          42    3.178571
8           96       31     2.5  1223256331          42    3.178571
9          110       31     4.0   840100695          42    3.178571
10         111       31     3.5  1097429230          42    3.178571
11         150       31     2.5  1130905954          42    3.178571
12         161       31     3.0   837629820          42    3.178571
13         165       31     3.5  1111981801          42    3.178571
14         186       31     3.0  1276205768          42    3.178571
15         242       31     4.0   956686556          42    3.178571
16         254       31     3.0   845157538          42    3.178571
17         288       31     3.0   845862722          42    3.178571
18         310       31     1.5  1414188058          42    3.178571
19         311       31     3.0   898007906          42    3.178571
20         325       31     4.5  1356316520          42    3.178571
21         338       31     3.0   841656923          42    3.178571
22         341       31     4.5  1240055463          42    3.178571
23         386       31     2.0  1047028867          42    3.178571
24         394       31     2.0  1297524887          42    3.178571
25         452       31     2.5  1077114665          42    3.178571
26         457       31     1.5  1471385561          42    3.178571
27         461       31     2.0  1091959143          42    3.178571
28         468       31     1.5  1296193889          42    3.178571
29         485       31     4.0  1337748425          42    3.178571
...        ...      ...     ...         ...         ...         ...
99974      652   141124     5.0  1440273477           1    5.000000
99975      652   142068     5.0  1442690431           1    5.000000
99976      652   142240     5.0  1442691006           1    5.000000
99977      652   146443     3.0  1451790739           1    3.000000
99978      652   146501     2.5  1449533204           1    2.500000
99979      652   146604     3.0  1449533506           1    3.000000
99980      652   147037     5.0  1447808622           1    5.000000
99981      653     2103     3.0   948161066           1    3.000000
99982      654     8504     4.5  1145391310           1    4.500000
99983      654    26819     4.0  1145391359           1    4.000000
99984      654    42009     3.0  1145391400           1    3.000000
99985      655   143859     3.0  1470075909           1    3.000000
99986      655   158314     4.5  1470071021           1    4.500000
99987      656     1692     5.0   986242496           1    5.000000
99988      656     3845     5.0   986242691           1    5.000000
99989      656     3909     5.0   986244044           1    5.000000
99990      659      167     4.0   836137550           1    4.000000
99991      659      563     3.0   834694187           1    3.000000
99992      663   127124     4.0  1438413063           1    4.000000
99993      663   134246     3.0  1438412792           1    3.000000
99994      663   134528     3.5  1438412783           1    3.500000
99995      663   134783     3.0  1438412778           1    3.000000
99996      663   137595     3.0  1438412878           1    3.000000
99997      663   138204     3.5  1438412914           1    3.500000
99998      664    60832     3.0  1393891653           1    3.000000
99999      664    64997     2.5  1343761859           1    2.500000
100000     664    72380     3.5  1344435977           1    3.500000
100001     665      129     3.0   995232528           1    3.000000
100002     665     4736     1.0  1010197684           1    1.000000
100003     668     6425     1.0   993613478           1    1.000000

[100004 rows x 6 columns]
recommend list  :
    movieId  total_view  avg_rating
0       356       341.0    4.054252
1       296       324.0    4.256173
2       318       311.0    4.487138
3       593       304.0    4.138158
4       260       291.0    4.221649
5       480       274.0    3.706204
6      2571       259.0    4.183398
7         1       247.0    3.872470
8       527       244.0    4.303279
9       589       237.0    4.006329
10     1196       234.0    4.232906
11      110       228.0    3.945175
12     1270       226.0    4.015487
13      608       224.0    4.256696
14     2858       220.0    4.236364
15     1198       220.0    4.193182
16      780       218.0    3.483945
17     1210       217.0    4.059908
18      588       215.0    3.674419
19      457       213.0    3.953052