### Ref 
- https://github.com/llSourcell/recommender_live/blob/master/Song%20Recommender_Python.ipynb

- https://towardsdatascience.com/how-to-build-a-simple-song-recommender-296fcbc8c85

In [44]:
%matplotlib inline

import pandas as pd 
from sklearn.cross_validation import train_test_split
import numpy as np
import time
from sklearn.externals import joblib

In [45]:
cd ..

/Users/yennanliu

In [88]:
def get_data():
    route='datasets/ml-latest-small/'
    #df_movie = pd.read_csv(route +'movies.csv')
    df_ratings = pd.read_csv(route +'ratings.csv')
    return df_ratings

def data_preprocess(df):
    df['view_count']=df.groupby(['userId','movieId']).count().reset_index()['rating']
    movie_grouped = df.groupby(['movieId']).agg({'view_count': 'count'}).reset_index()
    grouped_sum = movie_grouped['view_count'].sum()
    movie_grouped['percentage']  = movie_grouped['view_count'].div(grouped_sum)*100
    movie_grouped.sort_values(['view_count', 'movieId'], ascending = [0,1])
    return movie_grouped



def get_train_test_data(df):
	train_data, test_data = train_test_split(df, test_size = 0.20, random_state=0)
	return train_data, test_data



# ML

class popularity_recommender_py():
    def __init__(self):
        self.train_data = None
        self.user_id = None
        self.item_id = None
        self.popularity_recommendations = None
        
    #Create the popularity based recommender system model
    def create(self, train_data, user_id, item_id):
        self.train_data = train_data
        self.user_id = user_id
        self.item_id = item_id

        #Get a count of user_ids for each unique song as recommendation score
        train_data_grouped = train_data.groupby([self.item_id]).agg({self.user_id: 'count'}).reset_index()
        train_data_grouped.rename(columns = {'userId': 'score'},inplace=True)
    
        #Sort the songs based upon recommendation score
        train_data_sort = train_data_grouped.sort_values(['score', self.item_id], ascending = [0,1])
    
        #Generate a recommendation rank based upon score
        train_data_sort['Rank'] = train_data_sort['score'].rank(ascending=0, method='first')
        
        #Get the top 10 recommendations
        self.popularity_recommendations = train_data_sort.head(10)

    #Use the popularity based recommender system model to
    #make recommendations
    def recommend(self, user_id):    
        user_recommendations = self.popularity_recommendations
        print ('---------')
        print (user_recommendations)
        
        #Add user_id column for which the recommendations are being generated
        user_recommendations['userId'] = user_id
        print ('---------')
        print (user_recommendations)
    
        #Bring user_id column to the front
        cols = user_recommendations.columns.tolist()
        cols = cols[-1:] + cols[:-1]
        user_recommendations = user_recommendations[cols]
        
        return user_recommendations

In [98]:
df_ratings.userId.unique()[1]

2

In [79]:
#len(df_ratings)
df_ratings

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
5            1     1263     2.0  1260759151
6            1     1287     2.0  1260759187
7            1     1293     2.0  1260759148
8            1     1339     3.5  1260759125
9            1     1343     2.0  1260759131
10           1     1371     2.5  1260759135
11           1     1405     1.0  1260759203
12           1     1953     4.0  1260759191
13           1     2105     4.0  1260759139
14           1     2150     3.0  1260759194
15           1     2193     2.0  1260759198
16           1     2294     2.0  1260759108
17           1     2455     2.5  1260759113
18           1     2968     1.0  1260759200
19           1     3671     3.0  1260759117
20           2       10     4.0   835355493
21           2       17     5.0   835355681
22           2       39     5.0   835355604
23           2       47     4.0   835355552
24           2       50     4.0   835355586
25           2       52     3.0   835356031
26           2       62     3.0   835355749
27           2      110     4.0   835355532
28           2      144     3.0   835356016
29           2      150     5.0   835355395
...        ...      ...     ...         ...
99974      671     4034     4.5  1064245493
99975      671     4306     5.0  1064245548
99976      671     4308     3.5  1065111985
99977      671     4880     4.0  1065111973
99978      671     4886     5.0  1064245488
99979      671     4896     5.0  1065111996
99980      671     4963     4.5  1065111855
99981      671     4973     4.5  1064245471
99982      671     4993     5.0  1064245483
99983      671     4995     4.0  1064891537
99984      671     5010     2.0  1066793004
99985      671     5218     2.0  1065111990
99986      671     5299     3.0  1065112004
99987      671     5349     4.0  1065111863
99988      671     5377     4.0  1064245557
99989      671     5445     4.5  1064891627
99990      671     5464     3.0  1064891549
99991      671     5669     4.0  1063502711
99992      671     5816     4.0  1065111963
99993      671     5902     3.5  1064245507
99994      671     5952     5.0  1063502716
99995      671     5989     4.0  1064890625
99996      671     5991     4.5  1064245387
99997      671     5995     4.0  1066793014
99998      671     6212     2.5  1065149436
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

In [48]:
df_ratings['count']=df_ratings.groupby(['userId','movieId']).count().reset_index()['rating']

In [49]:
#df_ratings.groupby(['userId','movieId']).count()

In [52]:
cd movie_recommendation/

/Users/yennanliu/movie_recommendation

In [55]:
df_ratings = get_data()
movie_grouped = data_preprocess(df_ratings)
print (movie_grouped)
train_data, test_data = get_train_test_data(df_ratings)

      movieId  view_count  percentage
0           1         247    0.246990
1           2         107    0.106996
2           3          59    0.058998
3           4          13    0.012999
4           5          56    0.055998
5           6         104    0.103996
6           7          53    0.052998
7           8           5    0.005000
8           9          20    0.019999
9          10         122    0.121995
10         11          82    0.081997
11         12          18    0.017999
12         13           8    0.008000
13         14          31    0.030999
14         15          11    0.011000
15         16          88    0.087996
16         17          86    0.085997
17         18          26    0.025999
18         19          92    0.091996
19         20          13    0.012999
20         21          95    0.094996
21         22          38    0.037998
22         23          22    0.021999
23         24          34    0.033999
24         25         101    0.100996
25         26           5    0.005000
26         27           7    0.007000
27         28          18    0.017999
28         29          40    0.039998
29         30          10    0.010000
...       ...         ...         ...
9036   158238           2    0.002000
9037   158314           1    0.001000
9038   158528           1    0.001000
9039   158956           1    0.001000
9040   159093           2    0.002000
9041   159462           1    0.001000
9042   159690           1    0.001000
9043   159755           1    0.001000
9044   159858           2    0.002000
9045   159972           1    0.001000
9046   160080           1    0.001000
9047   160271           1    0.001000
9048   160438           2    0.002000
9049   160440           1    0.001000
9050   160563           2    0.002000
9051   160565           1    0.001000
9052   160567           1    0.001000
9053   160590           1    0.001000
9054   160656           1    0.001000
9055   160718           1    0.001000
9056   161084           1    0.001000
9057   161155           1    0.001000
9058   161594           1    0.001000
9059   161830           1    0.001000
9060   161918           1    0.001000
9061   161944           1    0.001000
9062   162376           1    0.001000
9063   162542           1    0.001000
9064   162672           1    0.001000
9065   163949           1    0.001000

[9066 rows x 3 columns]

In [91]:
### run ML ###

pm = popularity_recommender_py()
pm.create(train_data, 'userId', 'movieId')

In [56]:
df_ratings.head(3)

   userId  movieId  rating   timestamp  view_count
0       1       31     2.5  1260759144           1
1       1     1029     3.0  1260759179           1
2       1     1061     3.0  1260759182           1

In [92]:
user_id = users[5]
pm.recommend(user_id)

---------
      movieId  score  Rank
264       296    267   1.0
318       356    267   2.0
282       318    249   3.0
519       593    233   4.0
230       260    230   5.0
423       480    215   6.0
2005     2571    213   7.0
0           1    209   8.0
1001     1270    194   9.0
529       608    192  10.0
---------
      movieId  score  Rank  userId
264       296    267   1.0       6
318       356    267   2.0       6
282       318    249   3.0       6
519       593    233   4.0       6
230       260    230   5.0       6
423       480    215   6.0       6
2005     2571    213   7.0       6
0           1    209   8.0       6
1001     1270    194   9.0       6
529       608    192  10.0       6

      userId  movieId  score  Rank
264        6      296    267   1.0
318        6      356    267   2.0
282        6      318    249   3.0
519        6      593    233   4.0
230        6      260    230   5.0
423        6      480    215   6.0
2005       6     2571    213   7.0
0          6        1    209   8.0
1001       6     1270    194   9.0
529        6      608    192  10.0

In [93]:
user_id = users[199]
pm.recommend(user_id)

---------
      movieId  score  Rank  userId
264       296    267   1.0       6
318       356    267   2.0       6
282       318    249   3.0       6
519       593    233   4.0       6
230       260    230   5.0       6
423       480    215   6.0       6
2005     2571    213   7.0       6
0           1    209   8.0       6
1001     1270    194   9.0       6
529       608    192  10.0       6
---------
      movieId  score  Rank  userId
264       296    267   1.0     200
318       356    267   2.0     200
282       318    249   3.0     200
519       593    233   4.0     200
230       260    230   5.0     200
423       480    215   6.0     200
2005     2571    213   7.0     200
0           1    209   8.0     200
1001     1270    194   9.0     200
529       608    192  10.0     200

      userId  movieId  score  Rank
264      200      296    267   1.0
318      200      356    267   2.0
282      200      318    249   3.0
519      200      593    233   4.0
230      200      260    230   5.0
423      200      480    215   6.0
2005     200     2571    213   7.0
0        200        1    209   8.0
1001     200     1270    194   9.0
529      200      608    192  10.0

In [58]:
users = df_ratings['userId'].unique()
print (len(users)) ## return 671 unique users
movies = df_ratings['movieId'].unique()
print (len(movies))  ## return 9066 unique songs

671
9066

In [59]:
df_ratings.head(3)

   userId  movieId  rating   timestamp  view_count
0       1       31     2.5  1260759144           1
1       1     1029     3.0  1260759179           1
2       1     1061     3.0  1260759182           1

In [60]:
pm = Recommenders.popularity_recommender_py()
pm.create(train_data, 'user_id', 'song')
#user the popularity model to make some prediction
user_id = users[5]
pm.recommend(user_id)

NameError: name 'Recommenders' is not defined

In [61]:
movie_grouped

      movieId  view_count  percentage
0           1         247    0.246990
1           2         107    0.106996
2           3          59    0.058998
3           4          13    0.012999
4           5          56    0.055998
5           6         104    0.103996
6           7          53    0.052998
7           8           5    0.005000
8           9          20    0.019999
9          10         122    0.121995
10         11          82    0.081997
11         12          18    0.017999
12         13           8    0.008000
13         14          31    0.030999
14         15          11    0.011000
15         16          88    0.087996
16         17          86    0.085997
17         18          26    0.025999
18         19          92    0.091996
19         20          13    0.012999
20         21          95    0.094996
21         22          38    0.037998
22         23          22    0.021999
23         24          34    0.033999
24         25         101    0.100996
25         26           5    0.005000
26         27           7    0.007000
27         28          18    0.017999
28         29          40    0.039998
29         30          10    0.010000
...       ...         ...         ...
9036   158238           2    0.002000
9037   158314           1    0.001000
9038   158528           1    0.001000
9039   158956           1    0.001000
9040   159093           2    0.002000
9041   159462           1    0.001000
9042   159690           1    0.001000
9043   159755           1    0.001000
9044   159858           2    0.002000
9045   159972           1    0.001000
9046   160080           1    0.001000
9047   160271           1    0.001000
9048   160438           2    0.002000
9049   160440           1    0.001000
9050   160563           2    0.002000
9051   160565           1    0.001000
9052   160567           1    0.001000
9053   160590           1    0.001000
9054   160656           1    0.001000
9055   160718           1    0.001000
9056   161084           1    0.001000
9057   161155           1    0.001000
9058   161594           1    0.001000
9059   161830           1    0.001000
9060   161918           1    0.001000
9061   161944           1    0.001000
9062   162376           1    0.001000
9063   162542           1    0.001000
9064   162672           1    0.001000
9065   163949           1    0.001000

[9066 rows x 3 columns]

In [62]:
df_ratings.head(3)

   userId  movieId  rating   timestamp  view_count
0       1       31     2.5  1260759144           1
1       1     1029     3.0  1260759179           1
2       1     1061     3.0  1260759182           1

In [63]:
cd movie_recommendation/

[Errno 2] No such file or directory: 'movie_recommendation/'
/Users/yennanliu/movie_recommendation

In [64]:
ls datasets

ml-latest/       ml-latest-small/

In [65]:
ls #datasets/ml-latest-small

README.md                         movie_recommend_popularity.py
archive/                          movie_recommend_spark_CF.ipynb
datasets/                         movie_recommend_spark_CF.py
download_dataset.sh               movie_recommend_spark_copy.py
images/                           notebook/
init.sh                           ref/
install_pyspark.sh                test.py
launch_env.sh                     test.sh
movie_recommend_popularity.ipynb  utility_data_load.py

In [66]:
cd datasets/ml-latest-small

/Users/yennanliu/movie_recommendation/datasets/ml-latest-small

In [67]:
df_movie = pd.read_csv('movies.csv')
df_ratings = pd.read_csv('ratings.csv')
df_tags = pd.read_csv('tags.csv')
df_links = pd.read_csv('links.csv')

In [68]:
df_movie.head(1)

   movieId             title                                       genres
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy

In [69]:
df_ratings.head(1)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144

In [70]:
df_tags.head(1)

   userId  movieId                      tag   timestamp
0      15      339  sandra 'boring' bullock  1138537770

In [71]:
df_links.head(1)

   movieId  imdbId  tmdbId
0        1  114709   862.0